.Burger {
    max-width:500px;
    margin: auto;
    text-align: center;
    overflow:auto;
    background-color: white;
    box-sizing: border-box;
}


/* overflow: scroll; */


@media (min-width: 300px) and (min-height:500px) {
    .Burger{
        width: 300px;
        height: 200px;
    }
}


@media (min-width: 320px) and (min-height:520px) {
    .Burger {
        width: 320px;
        height: 250px;
    }
}


@media (min-width: 360px) and (min-height:640px) {
    .Burger {
        width: 360px;
        height: 350px;
    }
}


@media (min-width: 500px) and (min-height:401px) {
    .Burger{
        width: 500px;
        height: 475px;
    }
}

@media (min-width: 700px) and (min-height:500px) {
    .Burger {
        width: 500px;
        height: 450px;
    }
}



@media (min-width: 1000px) and (min-height:700px) {
    .Burger{
        width: 500px;
        height: 450px
    }
}
